<p>
<ul>
    <li>Изображения <a href="https://images.nasa.gov/" rel="nofollow">NASA Image and
        Video Library</a>.
    </li>
    <li>Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</li>
    <li>Kasper De Bruyne - SVG астронафт</li>
    <li>Icons made by:</li>
    <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>
    <li><a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
        from<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.
    </li>
    <li><a href="https://flat-icons.com/" title="Flat Icons">Flat Icons</a> from <a
            href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </li>
    <li><a
            href="https://www.flaticon.com/free-icon/mars_683448?term=mars&page=1&position=17"
            title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/"
                                                              title="Flaticon"> www.flaticon.com</a>
    </li>
    <li>
        <a href='https://www.freepik.com/vectors/medical'>Medical vector created by freepik - www.freepik.com</a>
    </li>
</ul>
</p>