<div class="wrapper">

    {{> sidebar }}

    <!-- Page Content  -->
    <div id="page-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-secondary">
                    <i class="fas fa-bars"></i> <span>Меню</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="ml-auto">
                        <h5>Библотека от снимки на НАСА.</h5>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid page-container"></div>
    </div>
</div>