<div class="missing-data col-12 col-md-10 m-auto" data-aos="fade" data-aos-delay="700">
    <div class="row results-container text-center">
        <div class="container">
            <div class="row">
                {{> svg }}
                <div class="col-md-6 align-self-center">
                    <h1 class="text-danger">Възникна проблем!</h1>
                    <h6>{{{message}}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>