<div class="home-wrapper">
    <div class="filter-wrapper row">
        <form action="" class="filter-form w-100" autocomplete="off"></form>
    </div>

    <div class="data-wrapper row" data-aos="fade-up" data-aos-delay="50"></div>
</div>