<div class="col-12 col-md-10 m-auto">
    <div class="row">
        {{#times 3}}
            <div class="placeholder col-12 col-lg-6 col-xl-4">
                <div class="ph-item">
                    <div class="ph-col-12">
                        <div class="ph-picture"></div>
                        <div class="ph-row">
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                            <div class="ph-col-12"></div>
                        </div>
                    </div>
                    <div>
                        <div class="ph-row">
                            <div class="ph-col-12"></div>
                            <div class="ph-col-2"></div>
                            <div class="ph-col-10 empty"></div>
                            <div class="ph-col-8 big"></div>
                            <div class="ph-col-4 big empty"></div>
                        </div>
                    </div>
                </div>
            </div>
        {{/times}}
    </div>
</div>