<nav id="sidebar" class="">
    <div class="sidebar-header">
        <h3><img src="assets/images/mars2.svg" width="40"> {Медиа}</h3>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="#" class="lnk-home">Начало</a>
        </li>
        <li>
            <a href="#" class="lnk-modal" data-page="about">За проекта</a>
        </li>
        <li>
            <a href="#" class="lnk-modal" data-page="credits">Kредити</a>
        </li>
    </ul>
</nav>